
/* ***LOGO*** */

#container {
    display: flex;
    background-color: black;
    width: 150vh;
    height: 100px;
    margin: auto;
}

#caption {
    color: white;
    display: inline-block;
    width: 450px;
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
    margin-top: 35px;
    margin-left: 35px;
}




/* ***NAVBAR*** */

#navbar{
    display: inline-block;
    width: 150vh;
    margin-left: 180px;
    margin-top: 15px;
}

#main {
    list-style: none;
    text-decoration: none;
}

ul#main a {
    color: white;
    text-decoration: none;
    padding: 15px 25px;
    float: left;
}

ul#main > li {
    float: left;
}

ul#main > li > a {
    display: block;
}

ul#main ul {
    position: absolute;
}

ul#main li ul {
    display: none;
    position: absolute;
}

ul li a {
    display: block;
}

ul#main > li:hover ul {
    display: block;
    position: relative;
}

ul li a:hover {
    background-color: rgb(207, 132, 34);
    transition: 0.5s;
}




/* ***SLAYT*** */

#frame {
    width: 150vh;
    height: 100vh;
    overflow: hidden;
    margin: auto;
    box-sizing: border-box;
}

#slide {
    position: relative;
    width: 400%;
    left: 0%;
    animation: 5s slayt infinite;
}

#slide img {
    width: 25%;
    float: left;
    height: 88vh;
}

@keyframes slayt {
    0%{left: 0%;}
    20%{left: 0%;}
    25%{left: -100%;}
    45%{left: -100%;}
    50%{left: -200%;}
    70%{left: -200%;}
    75%{left: -200%;}
}




/* ***DİSCOUNT*** */

#discount_cap {
    width: 150vh;
    height: 80px;
    background-color: black;
    margin: auto;
    display: flex;
}

#discount_cap_txt {
    color: white;
    margin-left: 50px;
    margin-top: 26px;
    font-size: 26px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#disc_products{
    display: flex;
    margin: auto;
}

#disc_product1{
    display: inline-block;
    height: 40vh;
    width: 30vh;
    border: 2px solid black;
    border-radius:20px;
    margin-left: 30vh;
    margin-top: 50px;
    text-align: center;
}

#disc_product2{
    display: inline-block;
    height: 40vh;
    width: 30vh;
    border: 2px solid black;
    border-radius:20px;
    margin-left: 25vh;
    margin-top: 50px;
    text-align: center;
}

#disc_product2{
    display: inline-block;
    height: 40vh;
    width: 30vh;
    border: 2px solid black;
    border-radius:20px;
    margin-left: 5vh;
    margin-top: 50px;
    text-align: center;
}

#disc_product3{
    display: inline-block;
    height: 40vh;
    width: 30vh;
    border: 2px solid black;
    border-radius:20px;
    margin-left: 5vh;
    margin-top: 50px;
    text-align: center;
}

#disc_product4{
    display: inline-block;
    height: 40vh;
    width: 30vh;
    border: 2px solid black;
    border-radius:20px;
    margin-left: 5vh;
    margin-top: 50px;
    text-align: center;
}

.buy_button {
    background-color: rgb(58, 199, 58);
    border-radius: 10px;
    height: 35px;
    width: 150px;
    color: white;
    cursor: pointer;
}

.buy_button:hover {
    background-color: black;
}



/* ***LAST PRODUCTS*** */

#last_cap {
    width: 150vh;
    height: 80px;
    background-color: black;
    margin: auto;
    margin-top: 50px;
    display: flex;
}

#last_cap_txt {
    color: white;
    margin-left: 50px;
    margin-top: 26px;
    font-size: 26px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#last_product1{
    display: inline-block;
    height: 40vh;
    width: 30vh;
    border: 2px solid black;
    border-radius:20px;
    margin-left: 30vh;
    margin-top: 50px;
    text-align: center;
}

#last_product2{
    display: inline-block;
    height: 40vh;
    width: 30vh;
    border: 2px solid black;
    border-radius:20px;
    margin-left: 5vh;
    margin-top: 50px;
    text-align: center;
}

#last_product3{
    display: inline-block;
    height: 40vh;
    width: 30vh;
    border: 2px solid black;
    border-radius:20px;
    margin-left: 5vh;
    margin-top: 50px;
    text-align: center;
}

#last_product4{
    display: inline-block;
    height: 40vh;
    width: 30vh;
    border: 2px solid black;
    border-radius:20px;
    margin-left: 5vh;
    margin-top: 50px;
    text-align: center;
}

#last_product5{
    display: inline-block;
    height: 40vh;
    width: 30vh;
    border: 2px solid black;
    border-radius:20px;
    margin-left: 30vh;
    margin-top: 50px;
    text-align: center;
}

#last_product6{
    display: inline-block;
    height: 40vh;
    width: 30vh;
    border: 2px solid black;
    border-radius:20px;
    margin-left: 5vh;
    margin-top: 50px;
    text-align: center;
}

#last_product7{
    display: inline-block;
    height: 40vh;
    width: 30vh;
    border: 2px solid black;
    border-radius:20px;
    margin-left: 5vh;
    margin-top: 50px;
    text-align: center;
}

#last_product8{
    display: inline-block;
    height: 40vh;
    width: 30vh;
    border: 2px solid black;
    border-radius:20px;
    margin-left: 5vh;
    margin-top: 50px;
    text-align: center;
}





/* ***COPYRİGHT*** */

#copyright {
    width: 150vh;
    height: 80px;
    background-color: black;
    margin: auto;
    margin-top: 50px;
    display: flex;
    align-items: center;
}

#copyright_txt {
    color: white;
    margin: auto;
    font-size: 16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}